.About {
    text-align: center;
}
  
.About-container {
    display: flex;
    justify-content: space-around;
}
  
.About-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 12rem 10rem;
  }
  
.About-header {
    background-color: #8d8d8d;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.About-logo {
    height: 40vmin;
    pointer-events: none;
}

/* Style the text content */
.About-item h1 {
    font-size: 5rem; /* Adjust the heading font size */
    margin-bottom: 5rem; /* Remove margin to align heading and paragraph */
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.About-item p {
    font-size: 1.5rem; /* Adjust the paragraph font size */
    font-family: 'Open Sans', sans-serif;
}

  
@media (prefers-reduced-motion: no-preference) {
    .About-logo {
        animation: About-logo-spin infinite 20s linear;
    }
}

.About-link {
    color: #61dafb;
}
  
@keyframes About-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  