.Portfolio {
    text-align: center;
  }
  
  .Portfolio-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Portfolio-logo {
      animation: Portfolio-logo-spin infinite 20s linear;
    }
  }
  
  .Portfolio-header {
    background-color: #8d8d8d;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Portfolio-link {
    color: #61dafb;
  }
  
  @keyframes Portfolio-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  