.Skills {
    text-align: center;
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
    height: 100vh; /* Align the cards to the top of the container */

}

.Skill-card {
    flex: 1;
    max-width: 400px;
    height: 40vh;
    margin: 0 20px; /* Add some margin to create space between the cards */
    padding: 1rem 2rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Skill-card h2 {
    font-size: 2rem; /* Adjust the heading font size */
    margin-bottom: 5rem; /* Remove margin to align heading and paragraph */
    font-family: 'Inter', sans-serif;
}

.Skill-list {
    font-size: 1.5rem; /* Adjust the paragraph font size */
    font-family: 'Open Sans', sans-serif;
}
  
.Skill-container {
    display: flex;
    justify-content: space-around;
}
  
.Skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    flex: 1;
    padding: 3rem 10rem;
    background-color: #f2f2f2; /* Optional: Add background color */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
  }
  
.Skill-header {
    background-color: #8d8d8d;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Skill-logo {
    height: 40vmin;
    pointer-events: none;
}

  
@media (prefers-reduced-motion: no-preference) {
    .Skill-logo {
        animation: Skills-logo-spin infinite 20s linear;
    }
}

.Skill-link {
    color: #61dafb;
}
  
@keyframes Skills-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  

/* Initially hide the navbar */
.invisible-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s, opacity 0.3s;
    background-color: #333; /* Set the background color */
    color: #fff; /* Set the text color */
    /* Add other styles as needed */
  }
  
  /* Style the links in the navbar */
  .invisible-navbar a {
    color: #fff; /* Set link color */
    text-decoration: none;
    padding: 15px; /* Add padding for links */
  }
  
  /* Style the links on hover */
  .invisible-navbar a:hover {
    background-color: #555; /* Add a background color on hover */
  }